Create one variable containing following type of data:

(i) string

In [1]:
a = 'pw skills'

In [2]:
type(a)

str

(ii) list

In [3]:
l = ['abc', 1,11,23.3,"sts"]

In [4]:
type(l)

list

(iii) float

In [5]:
f = 45.456

In [6]:
type(f)

float

(iv) tuple

In [7]:
tup = ("kashmir", "bir", "sisu")

In [8]:
type(tup)

tuple

Q2. Given are some following variables containing data: What will be the data type of the above given variable.

(i) var1 = ‘ ‘

Ans : str

(ii) var2 = ‘[ DS , ML , Python]’

Ans : str

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

Ans : list

(iv) var4 = 1.

Ans : integer

Q3. Explain the use of the following operators using an example:

(i) /

The / operator is division operator.  
For example

In [9]:
4/2

2.0

(ii) %

The % known as modulus operator. It is used to find reminder between two operand
For example:

In [10]:
4%4

0

(iii) //

The // is floor divison operator. It will divide the first operand by the second and round the result down to the nearest whole number
For example

In [11]:
7//3

2

(iv) **

The ** is Exponentiation operator. It returns the result of raising the first operand to the power of the second operand. If 2**3 that means 2*2*2 and result will be 8

In [12]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
l = [2,3,4,"skills",34.5,'riya', True]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
A = int(input())
B = int(input())
count = 0
while(A>0):
    if(A%B != 0):
        break;
    else:
        A=int(A/B)
        count+= 1
if(count==0):
    print("A is not purely divisible by B")
else:
    print("A is purely divisible by number B \n And it is divisible ",A," times")

 120
 5

A is purely divisible by number B
 And it is divisible  24  times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
k = range(25)
for i in k:
    if(i%3==0):
        print(i," is divisible by 3")
    else:
        print(i,"is not divisible by 3")

0  is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3  is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6  is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9  is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12  is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15  is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18  is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21  is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those that allow to change their value or data in place without affecting the object's identity. In case of, immutable data type the value in place affecting the object's identity.

immutable data types are - int , float, string, tuple 
mutable  - list, dictonary and sets

In [16]:
#immutable example using string
n = 'hello'
print(n[1])
n[1]='u'
print(n[1])

e

TypeError: 'str' object does not support item assignment

In [17]:
#mutable example using list
j = ['we',11,2,3.4]
print(j[1])
j[1]=88
print(j[1])

11
88